<nav class="navbar navbar-light bg-light mt-3">
  <%=
    link_to "Recreation at Oregon State Forests",
      root_path,
      {
        class: "navbar-brand mb-0 h1"
      }
  %>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <%= link_to "About this Project", about_path %>
    </li>
  </ul>
</nav>
